.masthead {
  background-color: #444C5C; 
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  background-color: #444C5C; 
  font-size: 1.2em;
}

.navbar a {
  color: #FFFFFF;
}

#about-content p, #contact-content p {
  font-size: 1.3em;
}

.mastfoot {
  background-color: #444C5C;
  margin-top: 2em;
}

.mastfoot h3 {
  color: #FFFFFF;
}

/* Adds a small top margin to a div. */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* Anchor class for fixed-navbar. */
.anchor {
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

/* Unsetting Bootstrap defaults I don't like. */
.nav > li > a:hover {
  text-decoration: underline;
  background-color: unset;
}

.nav > li > a:focus {
  background-color: unset;
}

/* Padding for the fixed navbar at top of page. */
body {
  padding-top: 80px;
}

/* Padding for the borders. */
.panel {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* Header underline color. */
.page-header {
  border-color: #444C5C;
}

/* Custom class to get rid of top margin. Used for the first "Hello!" */
.margin-top-0 {
  margin-top: 0;
}

/* When the site gets small, turn the fixed navbar into a static navbar and
   remove paddings. */
@media (max-width: 767px) {
  .navbar-fixed-top {
      position: relative;
      top: auto;
  }
  .navbar-collapse {
      max-height: none;
  }
  body {
      padding-top: 0;
  }
}
