.navbar-brand {
  font-size: 1.5rem;
}

.navbar {
  font-size: 1.2rem;
}

#about-content p {
  font-size: 1.3rem;
}

/* Anchor class for fixed-navbar. */
.anchor {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

/* Padding for the fixed navbar at top of page. */
body {
  padding-top: 80px;
}
