.masthead {
  background-color: #444C5C; 
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  background-color: #444C5C; 
  font-size: 1.2em;
}

.navbar a {
  color: #FFFFFF;
}

#about p, #contact p {
  font-size: 1.5em;
}

.mastfoot {
  background-color: #444C5C;
  margin-top: 2em;
}

.mastfoot h3 {
  color: #FFFFFF;
}

/* Unsetting Bootstrap defaults I don't like. */
.nav > li > a:hover {
  text-decoration: underline;
  background-color: unset;
}

.nav > li > a:focus {
  background-color: unset;
}

/* Padding for the fixed navbar at top of page. */
body {
  padding-top: 80px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

:target {
  padding-top:25px;
}
