// Responsive widths.
body {
  margin: 3em 1.5em 0;
  max-width: 61.25rem;
}

@media (min-width: 61.25rem) {
  body {
    margin: 7em auto 0;
  }
}

// Typography.
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap");
$roboto_mono: "Roboto Mono", monospace;
$inter: "Inter", sans-serif;
$font__weight: 400;
$font__line-height: 1.5;

// Colors.
$color__black_text: rgba(0, 0, 0, 0.87);
$color__gray: #696969;
$color__white: #ffffff;

// Elements.
* {
  box-sizing: border-box;
}

a {
  color: $color__black_text;
  text-decoration: underline;

  &:hover {
    color: $color__gray;
  }
}

// Layout.
body {
  background: $color__white;
  color: $color__black_text;
  font-family: $inter;
  font-weight: $font__weight;
  line-height: $font__line-height;
}

.site-header {
  margin-bottom: 1em;
  font-family: $roboto_mono;
  font-size: 1.5rem;
  font-weight: 600;

  a {
    text-decoration: none;
  }
}

nav li {
  margin-right: 1.5rem;
  font-size: 1.25rem;
  font-family: $roboto_mono;
}

@media (min-width: 61.25rem) {
  nav li {
    display: inline;
  }
}

.active {
  font-weight: 600;
}

nav,
.about-links {
  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.about-links {
  margin-top: 3em;
}

// publications-list component.
.publications-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.publications-list li {
  margin-bottom: 1rem;
}

.publications-list p {
  margin: 0;
}

.publications-list a + a {
  margin-left: 0.5rem;
}

// projects-list component.
.projects-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.projects-list li {
  margin-bottom: 1rem;
}

.projects-list p {
  margin: 0;
}

.projects-list a + a {
  margin-left: 0.5rem;
}

// Blog post template.
h3.blog-post {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2rem;
}

h3.blog-post:before {
  content: counter(h3counter) "\0000a0\0000a0";
  counter-increment: h3counter;
  counter-reset: h4counter;
}

h4.blog-post {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 1rem;
}

h4.blog-post:before {
  content: counter(h3counter) "." counter(h4counter) "\0000a0\0000a0";
  counter-increment: h4counter;
}

p.blog-post {
  text-align: justify;
}

pre.blog-post {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0.06rem;
  border-radius: 0.3rem;
  overflow: auto;
  padding: 0.5rem;
  background-color: #f2f2f2;
}

ol.blog-post {
  padding-left: 1.5rem;
}

.blog-title {
  counter-reset: h3counter;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

.blog-date {
  text-align: center;
}
