// Responsive widths.
body {
  margin: 3em 1.5em 1.5em;
}

@media (min-width: 768px) {
  body {
    margin: 7em 7em 3em;
    width: 60%;
  }
}

// Typography.
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
$inconsolata: "Inconsolata", monospace;
$font__weight: 400;
$font__line-height: 1.5;

// Colors.
$color__black: #000000;
$color__gray: #eeeeee;
$color__beige: #f8f8f1;
$color__yellow: #fefeca;

// Elements.
* {
  box-sizing: border-box;
}

a {
  color: $color__black;
  text-decoration: underline;

  &:hover {
    color: $color__black;
    font-weight: bold;
    text-decoration: none;
  }
}

// Layout.
body {
  background: $color__beige;
  font-family: $inconsolata;
  font-weight: $font__weight;
  line-height: $font__line-height;
}

.site-header {
  margin-bottom: 1.25em;
  font-size: 1rem;
  font-weight: 700;

  a {
    text-decoration: none;
  }
}

nav ul {
  display: flex;
  flex: 1;
  padding: 0;
}

nav li {
  padding-right: 0.5rem;
}

nav,
footer {
  ul {
    padding: 0;
  }
}

nav,
footer {
  li {
    list-style-type: none;
  }
}

footer {
  margin-top: 3em;
}

.active {
  font-weight: bold;
}

// publications-list component.
.publications-list {
  margin: 0;
  padding-left: 1rem;
}

.publications-list li {
  margin-bottom: 1rem;
}

.publications-list p {
  margin: 0;
}

.publications-list a + a {
  margin-left: 0.5rem;
}

// projects-list component.
.projects-list {
  margin: 0;
  padding-left: 1rem;
}

.projects-list li {
  margin-bottom: 1rem;
}

.projects-list p {
  margin: 0;
}

.projects-list a + a {
  margin-left: 0.5rem;
}

// Blog post template.
main.blog-post {
  counter-reset: h3counter;
}

h2.blog-post {
  counter-reset: h3counter;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}

h3.blog-post {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}

h3.blog-post:before {
  content: counter(h3counter) "\0000a0\0000a0";
  counter-increment: h3counter;
  counter-reset: h4counter;
}

h4.blog-post {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

h4.blog-post:before {
  content: counter(h3counter) "." counter(h4counter) "\0000a0\0000a0";
  counter-increment: h4counter;
}

p.blog-post {
  text-align: justify;
}

pre.blog-post {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0.06rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: #fdf6e3;
}

.blog-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

.blog-date {
  text-align: center;
}
