---
layout: default
---

<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col my-auto">
      <div id="about-content">
        <p class="text-justify">
          I'm Deric, and I'm a software engineer at Google working on
          commonsense knowledge and reasoning. I'm interested in natural
          language processing, machine learning, and software engineering.
          Here's my
          <a href="assets/resume.pdf" target="_blank">resume</a>.
        </p>
        <p class="text-justify">
          Outside of computer science, I enjoy playing violin and tennis.
        </p>
        <p class="text-left" id="previously-text">
          Previously, I
          <span id="previously-blurbs">
            {% for blurb in site.data.previously-blurbs %}
              <span>
                {{ blurb.content }}
              </span>
            {% endfor %}
          </span>
        </p>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <img
        src="img/profile.jpg"
        class="img-fluid rounded-circle mb-2"
        alt="Deric"
      />
      <span id="social-buttons">
        <a class="mx-2" href="https://github.com/pderichai">
          <i class="fa fa-github fa-3x"></i>
        </a>
        <a class="mx-2" href="https://linkedin.com/in/pderichai">
          <i class="fa fa-linkedin fa-3x"></i>
        </a>
        <a class="mx-2" href="https://twitter.com/pderichai">
          <i class="fa fa-twitter fa-3x"></i>
        </a>
      </span>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs flex-column flex-md-row" id="tab-menu" role="tablist">
    <li class="nav-item">
      <a
        class="h3 nav-link active"
        id="blog-tab"
        data-toggle="tab"
        href="#blog-content"
        role="tab"
        aria-selected="true"
        aria-controls="blog-content"
        >Blog</a
      >
    </li>
    <li class="nav-item">
      <a
        class="h3 nav-link"
        id="projects-tab"
        data-toggle="tab"
        href="#projects-content"
        role="tab"
        aria-selected="false"
        aria-controls="projects-content"
        >Projects</a
      >
    </li>
    <li class="nav-item">
      <a
        class="h3 nav-link"
        id="publications-tab"
        data-toggle="tab"
        href="#publications-content"
        role="tab"
        aria-selected="false"
        aria-controls="publications-content"
        >Publications</a
      >
    </li>
  </ul>

  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="blog-content"
      role="tabpanel"
      aria-labelledby="blog-tab"
    >
      <div class="list-group list-group-flush">
        {% for post in site.posts %}
          <div class="card list-group-item">
            <div class="card-body">
              <h4>
                <a
                  class="card-title" href="{{ post.url }}"
                  >{{ post.title }}</a
                >
              </h4>
              <h5 class="card-subtitle text-muted mb-2">
                {{ post.date | date_to_string }}
              </h5>
              <p class="card-text">
                {{ post.excerpt }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="projects-content"
      role="tabpanel"
      aria-labelledby="projects-tab"
    >
      <div class="row mt-4">
        <div class="col-md-3">
          <div
            class="nav flex-column nav-pills"
            id="projects-nav"
            role="tablist"
            aria-orientation="vertical"
          >
            {% for project in site.data.projects %}
              <a
                {% if project.active %}
                  class="h4 nav-link active"
                {% else %}
                  class="h4 nav-link"
                {% endif %}
                id={{ project.name }}
                data-toggle="list"
                href={{ "#list-" | append: project.tag }}
                role="tab"
                aria-controls={{ project.tag }}
                >{{ project.name }}</a
              >
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            {% for project in site.data.projects %}
              <div
                {% if project.active %}
                  class="tab-pane fade show active"
                {% else %}
                  class="tab-pane fade"
                {% endif %}
                id={{ "list-" | append: project.tag }}
                role="tabpanel"
                aria-labelledby={{ project.tag }}
              >
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">
                      {{ project.name }}
                    </h4>
                    <h5 class="card-subtitle mb-2 text-muted">
                      {{ project.description }}
                    </h5>
                    <p class="card-text">
                      Work done at {{ project.affiliation }}.
                    </p>
                    {% for link in project.links %}
                      <a
                        href={{ link[1] }}
                        class="card-link"
                        target="_blank"
                        >{{ link[0] }}</a
                      >
                    {% endfor %}
                    {% if project.demo %}
                      <hr/>
                      <h5 class="card-subtitle mb-2 text-muted">Demo</h5>
                      {{ project.demo }}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="publications-content"
      role="tabpanel"
      aria-labelledby="publications-tab"
    >
      <div class="list-group list-group-flush">
        {% for publication in site.data.publications %}
          <div class="card list-group-item">
            <div class="card-body">
              <h4 class="card-title">
                {{ publication.title }}
              </h4>
              <h5 class="card-subtitle mb-2 text-muted">
                {{ publication.venue }}
              </h5>
              <p class="card-text">{{ publication.author }}</p>
              {% for link in publication.links %}
                <a
                  href={{ link[1] }}
                  class="card-link"
                  target="_blank"
                  >{{ link[0] }}</a
                >
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
